:root {
    --pri-purple: hsl(259, 100%, 65%);
    --pri-red: hsl(0, 100%, 67%);

    --neu-grey100: hsl(0, 0%, 94%);
    --neu-grey200: hsl(0, 0%, 86%);
    --neu-grey500: hsl(0, 1%, 44%);

    --bold: 700;
    --heavybold: 1000;
}

* {
    font-family: Poppins, sans-serif;
}

body {
    background-color: var(--neu-grey100);
}

#window {
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 8rem;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    border-bottom-right-radius: 125px;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top div p {
    color: var(--neu-grey500);
    font-weight: var(--bold);
    letter-spacing: 3px;
    font-size: 12pt;
    margin: 7px 0;
}

h3 {
    display: flex;
    font-size: 18pt;
    color: black;
    border: 2px solid var(--neu-grey200);
    border-radius: 12px;
    width: 4.75rem;
    padding: 0 1rem;
    height: 3.95rem;
    align-items: center;
    margin: 0;
}

#middle {
    position: relative;
    text-align: center;
}

hr {
    color: transparent;
    background-color: var(--neu-grey100);
    margin: 6rem 0;
    height: 1px;
}

img {
    width: 2rem;
    height: 2rem;
    background-color: var(--pri-purple);
    padding: 1.5rem;
    border-radius: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bottom {
    font-size: 24pt;
    font-style: italic;
    font-weight: var(--heavybold);
}

h2 {
    color: var(--pri-purple);
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }