:root {
    --pri-purple: hsl(259, 100%, 65%);
    --pri-red: hsl(0, 100%, 67%);

    --neu-grey100: hsl(0, 0%, 94%);
    --neu-grey200: hsl(0, 0%, 86%);
    --neu-grey500: hsl(0, 1%, 44%);

    --input-font: 32px;

    --lightbold: 400i;
    --bold: 700;
    --heavybold: 800i;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }